services:
  # userbase:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile
  #   ports:
  #     - "8080:8080"
  #   environment:
  #     - SPRING_PROFILES_ACTIVE=prod
  #     - DATABASE_URL=jdbc:postgresql://db:5432/userbase
  #     - DATABASE_USERNAME=userbase_user
  #     - DATABASE_PASSWORD=secure_password
  #   depends_on:
  #     - db

  user-db:
    image: postgres:16-alpine
    container_name: user-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: dummyuser
      POSTGRES_PASSWORD: dummypassword
      POSTGRES_DB: appdb
    ports:
      - "5432:5432"
    volumes:
      - user-db-data:/var/lib/postgresql/data

volumes:
  user-db-data:
